*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Epilogue';
    background-color: hsl(0, 0%, 98%);
}

body{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.container{
    width: 100%;
    height: fit-content;
    overflow: hidden ;
    max-width: 1040px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: minmax(min-content, max-content);
    grid-template-areas: 
     "header header"
     "main image"
     "footer footer";
    gap: 25px;
}
/* Header Section */
header{
    width: 100%;
    height: 100%;
    grid-area: header;
}
.navbar{
    overflow: hidden;
    background-color: hsl(0, 0%, 98%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.main-nav{
    display: flex;
}

.navbar a{
    float: right;
    font-size: 15px;
    color: hsl(0, 0%, 41%);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown{
    float: right;
    overflow: hidden;
}

.right-nav{
    margin-left: 25px;
    color:hsl(0, 0%, 41%);
    padding: 14px 16px;
}

.right-nav a:hover{
    border:3px solid;
    border-radius: 10px;
    background-color:hsl(0, 0%, 98%);
    gap: 6px;
}

.dropdown .dropbtn{
    font-size: 15px;
    border: none;
    outline: none;
    color:hsl(0, 0%, 41%);
    padding: 14px 16px;
    background-color: inherit;
}
.navbar a:hover, .dropdown:hover
.dropbtn {
    background-color:hsl(0, 0%, 98%) ;
    color: hsl(0, 0%, 8%);
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: hsl(0, 0%, 98%) ;
    min-width: 130px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 20px;
    z-index: 1;
}
  
.dropdown-content a {
    float: none;
    color: hsl(0, 0%, 41%);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
  
.dropdown-content a:hover {
    background-color: hsl(0, 0%, 98%) ;
    color: hsl(0, 0%, 8%);
}
  
.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown img{
    padding-right: 6px;
    justify-content: center;
    align-items: center;
}

/* Section - Main Content */

.main-container{
    grid-area: main;
}
picture img{
    grid: image;
    display: block;
    width: 100%;
    height: 80vh;
}

.img-mobile{
    display: none;
}

section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main-content{
    gap: 20px;
}
.main-title h1{
    color:hsl(0, 0%, 8%);
    font-weight: 700;
    font-size: 50px;
    padding-bottom: 15px;
}
.main-txt p{
    color: hsl(0, 0%, 41%);
    font-size: 22px;
    line-height: 5vh;
    padding-bottom: 15px;
}

button{
    border: none;
    color: hsl(0, 0%, 98%);
    background-color: hsl(0, 0%, 8%);
    font-weight: 500;
    font-size: 20px;
    width: 15vw;
    height: 8vh;
    border-radius: 8px ;
}


.btn-main{
    padding-top: 5px;
    padding-bottom: 40px;
    display: flex;
    text-align: center;
    align-items: center;
    cursor: pointer;
}

button:hover{
    border: 2px solid black;
    border-radius: 10px;
    background-color: hsl(0, 0%, 98%);
    color: hsl(0, 0%, 8%);

}




/* Attribution section*/
footer{
    grid-area: footer;
}
.attribution {
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%);
}
